
@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


:root {
  --gray: #cecece;
  --orange: #f26522;
  --dark-gray: #363636;
  --blue: #283593;
  --red: #790000;
  --white: #fff;
}


body {
  background: url(../img/bac-tsom.jpg) no-repeat;
  background-size: cover;
}


#app {
  font-family: 'Abel', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}


.tsom {

  &--banner-desc {
    background: var(--orange);
    text-align: center;
    color: var(--white);
  }

  &--slider-banner{
    img {
      width: 100%;
    }
  }

  &--content-news {
    text-align: center;
    &-title {
      font-size: 1.24em;
      color: var(--dark-gray);
    }

    p {
      padding: 0em 2em;
      color: var(--blue);
    }
  }

  &--content-ticket {
    text-align: center;
    &-title {
      font-size: 1.24em;
      color: var(--dark-gray);
    }
    p {
      color: var(--blue);
    }
  }
  

  &--gallery {

    background: var(--dark-gray);

    &-img-first {
      padding-top: 20px;
      figcaption {
        color: var(--orange);
      }

      p {
        color: var(--white);

      }
    }



    &-list {
      padding-top: 20px;
      padding-bottom: 20px;
      img {
        margin-bottom: 30px;
      }
    }
  }
}


